.radio-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: clamp(30rem, 25vw, 16rem);
    height: clamp(30rem, 25vw, 16rem);
    border-radius: 50%;
    margin: 2rem 0;
  }
  .rotate-animation {
    animation: rotation 6s infinite linear;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

:root {
  --bg: #ebebeb;
  --primary: #a4b7be;
}

body {
  background: var(--bg) !important;
}

a {
  text-decoration: none;
}

.player {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .info {
    text-align: center;
    h2 {
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: var(--primary);
    }
  }
}
