.radio-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: clamp(30rem, 25vw, 16rem);
    height: clamp(30rem, 25vw, 16rem);
    border-radius: 50%;
    margin: 2rem 0;
  }
  .rotate-animation {
    animation: rotation 6s infinite linear;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

:root {
  --bg: #ebebeb;
  --primary: #a4b7be;
}

body {
  background: var(--bg) !important;
}

a {
  text-decoration: none;
}

.player {
  display: flex;
  flex-direction: column;
  height: 92vh;
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .info {
    text-align: center;
    h2 {
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: var(--primary);
    }
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #316385;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
